body {
  margin-left: 35%;
  margin-top: 10%;
}

.squareButton {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  border: 1px solid gray;
}

.rowBreak {
  display: flex;
  flex-direction: row;
}

.displayBoard {
  display: flex;
  flex-direction: column;
}
